@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  a {
    @apply text-primary cursor-pointer;
  }
  button {
    @apply hover:bg-todark cursor-pointer  rounded-md py-2 px-4 font-semibold text-white;
  }
}

@layer utilities {
  /* text */
  .text-shadow {
    text-shadow: 2px 2px 2px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 4px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 15px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .text-primary {
    color: #0d6efd;
  }
  .text-gray {
    @apply text-gray-500;
  }

  /* background */
  .bg-primary {
    background-color: #0d6efd;
  }
  .bg-warning {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      #ffc107;
  }
  .bg-error {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      #dc3545;
  }

  .bg-todark {
    -webkit-filter: brightness(90%); /* Safari */
    filter: brightness(90%);
  }
  .bg-tobright {
    -webkit-filter: brightness(105%); /* Safari */
    filter: brightness(105%);
  }

  /* border */
  .border-primary {
    border-color: #0d6efd;
    border-width: 1px;
  }
}

@layer components {
  .mainBG {
    @apply overflow-auto bg-explore-bg-large bg-cover bg-fixed bg-center bg-no-repeat;
  }
  .tag {
    @apply hover:bg-todark  cursor-pointer justify-center rounded-xl bg-gray-300 px-2 py-1 text-gray-500;
  }
  .alert {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.18);
    @apply hover:bg-tobright rounded-md py-2 px-4  text-black;
  }
  .autofade-message {
    @apply bg-primary rounded-md p-2 text-black;
  }
  .dropdown-menu {
    @apply absolute z-50 float-left m-0 mt-1 hidden min-w-max list-none rounded-lg border-none bg-white bg-clip-padding py-2 text-left text-base shadow-lg;
  }
  .dropdown-item {
    @apply block w-full whitespace-nowrap bg-transparent py-2 px-4  text-base font-normal text-gray-700 hover:bg-gray-100;
  }
}
